<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="profile" href="https://gmpg.org/xfn/11">
    
    <link rel="apple-touch-icon" sizes="180x180" href="/content/public/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/content/public/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/content/public/images/favicon-16x16.png">
    <link rel="manifest" href="/content/public/images/site.webmanifest">
    <link rel="mask-icon" href="/content/public/images/safari-pinned-tab.svg" color="#121d36">
    <link rel="shortcut icon" href="/content/public/images/favicon.ico">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="/content/public/images/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    
    <link rel="preload" href="https://assets.graphisoft.com/typography/proximanova.css" as="style">
    <link rel="preload" href="https://assets.graphisoft.com/typography/proximanova-regular-webfont.woff2" as="font">
    <link rel="preload" href="https://assets.graphisoft.com/typography/proximanova-regularit-webfont.woff2" as="font">
    <link rel="preload" href="https://assets.graphisoft.com/typography/proximanova-medium-webfont.woff2" as="font">
    <link rel="preload" href="https://assets.graphisoft.com/typography/proximanova-bold-webfont.woff2" as="font">
    <link rel="preload" href="https://assets.graphisoft.com/typography/proximanova-black-webfont.woff2" as="font">


    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "url": "https://graphisoft.com",
      "logo": "https://graphisoft.com/content/themes/building-together/dist/images/logos/logo-graphisoft-building-together.svg"
    }
    </script>

    <title>Descargas &#8211; GRAPHISOFT</title>

	<meta name="description" content="Archicad Descarga la última versión de Archicad BIMx Descargar BIMcloud Descargar Extensiones para Archicad Extensiones Contenido BIM Bibliotecas Herramientas para Rhino &#8211; Grashopper &#8211; Archicad Conexión Archicad para Autodesk Revit Modelador MEP + Más Extensiones Paquetes de Clasificaciones Paquetes COBie Python Scripts Sitios con Objetos para Archicad Library Part Maker PARAM-O Multifunctional dwelling complex on [&hellip;]" />
	<meta property="og:url" content="https://graphisoft.com/es/resources-and-support/downloads" />
	<meta property="og:site_name" content="GRAPHISOFT" />
	<meta property="og:title" content="Descargas" />
	<meta property="og:description" content="Archicad Descarga la última versión de Archicad BIMx Descargar BIMcloud Descargar Extensiones para Archicad Extensiones Contenido BIM Bibliotecas Herramientas para Rhino &#8211; Grashopper &#8211; Archicad Conexión Archicad para Autodesk Revit Modelador MEP + Más Extensiones Paquetes de Clasificaciones Paquetes COBie Python Scripts Sitios con Objetos para Archicad Library Part Maker PARAM-O Multifunctional dwelling complex on [&hellip;]" />
	<meta property="og:image" content="https://graphisoft.com/content/uploads/2020/04/iStock-846202328-1024x682.jpg" />
	<meta property="og:type" content="article" />
	<meta property="og:locale" content="es-ES" />
	<meta name="twitter:card" content="summary_large_image" />

<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5K5RL8K');</script>

<link rel='dns-prefetch' href='//graphisoftid.graphisoft.com' />
<link rel='dns-prefetch' href='//use.fontawesome.com' />
<link rel='dns-prefetch' href='//s.w.org' />
<link rel="alternate" type="application/rss+xml" title="GRAPHISOFT &raquo; Feed" href="https://graphisoft.com/es/feed" />
<link rel="alternate" type="application/rss+xml" title="GRAPHISOFT &raquo; Feed de los comentarios" href="https://graphisoft.com/es/comments/feed" />
<link rel='stylesheet' id='wp-block-library-css'  href='https://graphisoft.com/content/plugins/gutenberg/build/block-library/style.css?ver=1589282205' type='text/css' media='all' />
<link rel='stylesheet' id='icons-css'  href='https://use.fontawesome.com/releases/v5.13.0/css/all.css?ver=5.13.0' type='text/css' media='all' />
<link rel='stylesheet' id='theme_styles-css'  href='https://graphisoft.com/content/themes/building-together/dist/css/theme.css?ver=1615491256' type='text/css' media='all' />
<script type='text/javascript' src='https://graphisoft.com/content/themes/building-together/dist/js/jquery-3.5.1.min.js?ver=3.5.1'></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://graphisoft.com/es/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://graphisoft.com/es/wp-includes/wlwmanifest.xml" /> 
<link rel="canonical" href="https://graphisoft.com/es/resources-and-support/downloads" />
<link rel='shortlink' href='https://graphisoft.com/es/?p=35' />
<link rel="alternate" type="application/json+oembed" href="https://graphisoft.com/es/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fgraphisoft.com%2Fes%2Fresources-and-support%2Fdownloads" />
<link rel="alternate" type="text/xml+oembed" href="https://graphisoft.com/es/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fgraphisoft.com%2Fes%2Fresources-and-support%2Fdownloads&#038;format=xml" />
<script type="text/javascript">
/* <![CDATA[ */
var GS = {
ajaxurl: "https:\/\/graphisoft.com\/es\/wp-admin\/admin-ajax.php",
};
/* ]]> */
</script><meta name="csrf-token" content="C3MJPDQ76RH8z0jdI4FOwUrzNfzBO6YnflBY4hik"><style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style><meta name="site" data-sj-field="site" content="es">
    <meta name="geo" content="PE" data-geo="PE">
        
</head>
<body class="page-template page-template-no-title page page-id-35 page-child parent-pageid-27 wp-embed-responsive layout-body">



<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5K5RL8K"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>



<a class="sr-only sr-only-focusable" href="#content">Saltar al contenido</a>

<header id="layout-header" class="layout-header bg-white">
    <div class="container">
        <nav class="navbar navbar-main navbar-expand-xl">
            <a class="navbar-brand" href="https://graphisoft.com/es">
                <object type="image/svg+xml" data="https://graphisoft.com/content/themes/building-together/dist/images/logos/logo-graphisoft-building-together.svg">GRAPHISOFT</object>
            </a>

            <div class="d-flex justify-content-end flex-grow-1">
                <div id="navbar-top" class="collapse navbar-collapse">
                                            <div id="menu-top" class="navbar-nav flex-wrap justify-content-end"><a id="menu-item-14039" class="nav-item nav-link" href="/es/events">Eventos</a>
<a id="menu-item-13936" class="nav-item nav-link" href="https://graphisoft.com/es/why-graphisoft/latest-news">Últimas Noticias</a>
<a id="menu-item-14880" class="nav-item nav-link" href="https://graphisoft.com/es/resources-and-support/learning">Aprender</a>
<a id="menu-item-13755" class="nav-item nav-link" href="https://graphisoft.com/es/contact-us/local-contacts">Contacto</a>
<a id="menu-item-13266" class="btn btn-important" href="https://graphisoft.com/es/try-archicad">Prueba Archicad</a>
</div>
                                    </div>

                                <div class="menu-icons navbar p-0 flex-nowrap d-flex ml-3">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="[data-modal=search]">
                        <svg class="i i-search">
                            <use xlink:href="https://graphisoft.com/content/themes/building-together/dist/images/sprite.symbol.svg#search"></use>
                        </svg>
                        <span class="sr-only sr-only-focusable">Buscar</span>
                    </a>

                                        <a class="nav-link" href="https://graphisoft.com/auth/login" aria-label="Iniciar Sesión">
                        <i class="far fa-user"></i>
                    </a>
                    
                                        <a class="nav-link" href="https://graphisoft.com/es/choose-region" aria-label="Elige tu País o Región">
                        <i class="fas fa-globe"></i>
                    </a>
                                    </div>
                            </div>

                        <button data-toggle-menu class="btn btn-link p-0 ham-container" aria-label="Main menu">
                <svg class="ham ham8" viewBox="0 0 100 100" width="80">
                    <path class="line top" d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20" />
                    <path class="line middle" d="m 30,50 h 40" />
                    <path class="line bottom" d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20" />
                </svg>
            </button>
                    </nav>
    </div>



            <nav id="sidenav" class="layout-sidenav sidenav">
        <ul id="menu-main" class="menu-main sidenav-menu"><li id="menu-item-13238" class="nav-item"><a href="https://graphisoft.com/es/why-graphisoft" class="nav-link" data-depth="0" data-toggle="collapse" aria-expanded=false data-target="#collapse-13238">Porqué GRAPHISOFT</a>
<ul id="collapse-13238"  class="list-unstyled collapse" data-parent="#sidenav" data-depth="0">
	<li id="menu-item-13241" class="nav-item"><a href="https://graphisoft.com/es/why-graphisoft/our-story" class="nav-link">Nuestra Historia</a></li>
	<li id="menu-item-13240" class="nav-item"><a href="https://graphisoft.com/es/why-graphisoft/our-users" class="nav-link">Nuestros Usuarios</a>
	<ul class="list-unstyled" data-depth="1">
		<li id="menu-item-13737" class="nav-item"><a href="https://graphisoft.com/es/why-graphisoft/our-users/gran-arquitectura" class="nav-link">Gran Arquitectura</a></li>
		<li id="menu-item-13246" class="nav-item"><a href="https://graphisoft.com/es/why-graphisoft/our-users/user-success" class="nav-link">Usuarios por Profesión</a></li>
		<li id="menu-item-13124" class="nav-item"><a href="/es/testimonials" class="nav-link">Testimoniales</a></li>
	</ul>
</li>
	<li id="menu-item-15116" class="nav-item"><a href="https://graphisoft.com/es/why-graphisoft/building-together" class="nav-link">Construir Juntos</a></li>
	<li id="menu-item-13121" class="nav-item"><a href="/es/case-studies" class="nav-link">Hecho con Archicad</a></li>
	<li id="menu-item-13253" class="nav-item"><a href="https://graphisoft.com/es/why-graphisoft/our-partners" class="nav-link">Nuestros Asociados</a></li>
	<li id="menu-item-13239" class="nav-item"><a href="https://graphisoft.com/es/why-graphisoft/latest-news" class="nav-link">Últimas Noticias</a></li>
</ul>
</li>
<li id="menu-item-13233" class="nav-item"><a href="https://graphisoft.com/es/solutions" class="nav-link" data-depth="0" data-toggle="collapse" aria-expanded=false data-target="#collapse-13233">Soluciones</a>
<ul id="collapse-13233"  class="list-unstyled collapse" data-parent="#sidenav" data-depth="0">
	<li id="menu-item-13234" class="nav-item"><a href="https://graphisoft.com/es/solutions/what-you-do" class="nav-link">Tu Profesión</a></li>
	<li id="menu-item-13242" class="nav-item"><a href="https://graphisoft.com/es/solutions/products" class="nav-link">Nuestros Productos</a>
	<ul class="list-unstyled" data-depth="1">
		<li id="menu-item-15356" class="nav-item"><a href="https://graphisoft.com/es/solutions/products/whats-new-u2" class="nav-link">Novedades</a></li>
		<li id="menu-item-13243" class="nav-item"><a href="https://graphisoft.com/es/solutions/products/archicad" class="nav-link">Archicad</a></li>
		<li id="menu-item-16171" class="nav-item"><a href="https://graphisoft.com/es/ac-start-edition" class="nav-link">Archicad START Edition</a></li>
		<li id="menu-item-13245" class="nav-item"><a href="https://graphisoft.com/es/solutions/products/bimx" class="nav-link">BIMx</a></li>
		<li id="menu-item-13244" class="nav-item"><a href="https://graphisoft.com/es/solutions/products/bimcloud" class="nav-link">BIMcloud</a></li>
	</ul>
</li>
	<li id="menu-item-13237" class="nav-item"><a href="https://graphisoft.com/es/solutions/workflows" class="nav-link">Trabajar Juntos</a>
	<ul class="list-unstyled" data-depth="1">
		<li id="menu-item-13267" class="nav-item"><a href="https://graphisoft.com/es/solutions/workflows/integrated-design" class="nav-link">Diseño Integrado</a></li>
		<li id="menu-item-13258" class="nav-item"><a href="https://graphisoft.com/es/solutions/workflows/open-bim" class="nav-link">OPEN BIM</a></li>
		<li id="menu-item-13248" class="nav-item"><a href="https://graphisoft.com/es/solutions/workflows/productivity-tools" class="nav-link">Herramientas de Productividad</a></li>
		<li id="menu-item-13714" class="nav-item"><a href="https://graphisoft.com/es/solutions/workflows/build-your-own" class="nav-link">Construye Tú Mismo</a></li>
		<li id="menu-item-13247" class="nav-item"><a href="https://graphisoft.com/es/solutions/workflows/visualization" class="nav-link">Visualización</a></li>
	</ul>
</li>
	<li id="menu-item-13236" class="nav-item"><a href="https://graphisoft.com/es/solutions/services" class="nav-link">Servicios</a></li>
</ul>
</li>
<li id="menu-item-13226" class="nav-item active"><a href="https://graphisoft.com/es/resources-and-support" class="nav-link" data-depth="0" data-toggle="collapse" aria-expanded=false data-target="#collapse-13226">Soporte</a>
<ul id="collapse-13226"  class="list-unstyled collapse" data-parent="#sidenav" data-depth="0">
	<li id="menu-item-16096" class="nav-item"><a href="https://graphisoft.com/es/resources-and-support/getting-started" class="nav-link">Empieza Aquí</a></li>
	<li id="menu-item-13229" class="nav-item"><a href="https://graphisoft.com/es/resources-and-support/help" class="nav-link">Ayuda</a></li>
	<li id="menu-item-13228" class="nav-item active active-end"><a href="https://graphisoft.com/es/resources-and-support/downloads" aria-current="page" class="nav-link">Descargas</a></li>
	<li id="menu-item-13230" class="nav-item"><a href="https://graphisoft.com/es/resources-and-support/learning" class="nav-link">Aprender</a></li>
	<li id="menu-item-14069" class="nav-item"><a href="https://graphisoft.com/es/resources-and-support/learning/education" class="nav-link">Educación</a></li>
	<li id="menu-item-13227" class="nav-item"><a href="https://graphisoft.com/es/resources-and-support/community" class="nav-link">Comunidad</a></li>
	<li id="menu-item-13232" class="nav-item"><a href="https://graphisoft.com/es/resources-and-support/system-requirements" class="nav-link">Requerimientos de Sistema</a></li>
</ul>
</li>
<li id="menu-item-13221" class="nav-item"><a href="https://graphisoft.com/es/contact-us" class="nav-link" data-depth="0" data-toggle="collapse" aria-expanded=false data-target="#collapse-13221">Conectar</a>
<ul id="collapse-13221"  class="list-unstyled collapse" data-parent="#sidenav" data-depth="0">
	<li id="menu-item-13250" class="nav-item"><a href="https://graphisoft.com/es/contact-us/get-in-touch" class="nav-link">Formulario de Contacto</a></li>
	<li id="menu-item-13123" class="nav-item"><a href="/es/events" class="nav-link">Eventos</a></li>
	<li id="menu-item-13997" class="nav-item"><a href="https://graphisoft.com/es/job-board" class="nav-link">Bolsa de Trabajo</a></li>
	<li id="menu-item-13222" class="nav-item"><a href="https://graphisoft.com/es/contact-us/careers" class="nav-link">Empleos en GRAPHISOFT</a></li>
	<li id="menu-item-16146" class="nav-item"><a href="/es/legal" class="nav-link">Legal</a></li>
</ul>
</li>
<li id="menu-item-13122" class="nav-item"><a href="#" class="nav-link" data-depth="0" data-toggle="collapse" aria-expanded=false data-target="#collapse-13122">Comprar Archicad</a>
<ul id="collapse-13122"  class="list-unstyled collapse" data-parent="#sidenav" data-depth="0">
	<li id="menu-item-13231" class="nav-item"><a href="https://graphisoft.com/es/how-to-buy/switch-now" class="nav-link">Porqué Cambiar</a></li>
	<li id="menu-item-13223" class="nav-item"><a href="https://graphisoft.com/es/how-to-buy" class="nav-link">Cómo Comprar</a></li>
	<li id="menu-item-13265" class="nav-item"><a href="https://graphisoft.com/es/contact-us/local-contacts" class="nav-link">Dónde Comprar</a></li>
</ul>
</li>
</ul>

                    <div><div class="textwidget custom-html-widget"><div><div class="textwidget custom-html-widget"><a href="/es/ssa" class="btn btn-important btn-block btn-sm">Zona ArchiPLUS/SSA </a></div></div>
<br>
<div><div class="textwidget custom-html-widget"><a href="/es/covid-19" class="btn btn-primary btn-block btn-sm">Actualidad COVID-19 </a></div></div></div></div>        
        <div class="sidenav-bottom">
                            <ul id="menu-social-side" class="list-social"><li id="menu-item-14976" class="menu-item menu-item-type-custom menu-item-object-custom text-center"><a target="_blank" href="https://www.youtube.com/channel/UCEcaxr5jf813CpesMdX4zFA/" class="nav-link fab fa-youtube"><span class="sr-only sr-only-focusable">YouTube</span></a></li>
<li id="menu-item-13116" class="menu-item menu-item-type-custom menu-item-object-custom text-center"><a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/Graphisoft.Latinoamerica/" class="nav-link fab fa-facebook"><span class="sr-only sr-only-focusable">Facebook</span></a></li>
<li id="menu-item-13117" class="menu-item menu-item-type-custom menu-item-object-custom text-center"><a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/graphisoft_latam/" class="nav-link fab fa-instagram"><span class="sr-only sr-only-focusable">Instagram</span></a></li>
<li id="menu-item-13119" class="menu-item menu-item-type-custom menu-item-object-custom text-center"><a target="_blank" rel="noopener noreferrer" href="https://twitter.com/GraphisoftLatam/" class="nav-link fab fa-twitter"><span class="sr-only sr-only-focusable">Twitter</span></a></li>
<li id="menu-item-13120" class="menu-item menu-item-type-custom menu-item-object-custom text-center"><a target="_blank" rel="noopener noreferrer" href="https://mx.linkedin.com/company/graphisoftlatinoam%C3%A9rica" class="nav-link fab fa-linkedin"><span class="sr-only sr-only-focusable">LinkedIn</span></a></li>
</ul>
                    </div>
    </nav>
        </header>



<div data-modal="search" id="search" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-search-title" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-hd modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header sr-only">
                <h5 class="modal-title" id="modal-search-title">Buscar</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
            
                            <form id="main-search" action="https://graphisoft.com/es" class="form-inline form">
                    <div class="input-group w-100">
                        <input id="search-input" name="s" type="search" class="form-control" placeholder="Buscar" value="" aria-label="Search" aria-describedby="search-button">

                        <div class="input-group-append">
                            <button id="search-button" type="submit" class="btn btn-link">
                                <i class="icon-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            
            </div>
        </div>
    </div>
</div>



<section class="navbar navbar-breadcrumb">
    <div class="container">
        <nav aria-label="Breadcrumb">
    <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
                
        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
    <a href="https://graphisoft.com/es" itemprop="item"><span itemprop="name">Inicio</span></a>
    <meta itemprop="position" content="1" />
</li><li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
    <a href="https://graphisoft.com/es/resources-and-support" itemprop="item"><span itemprop="name">Recursos y Soporte</span></a>
    <meta itemprop="position" content="2" />
</li><li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
    <span itemprop="name">Descargas</span>
    <meta itemprop="position" content="3" />
</li>    </ol>
</nav>


            </div>
</section>


<main id="content" class="layout-content" role="main">
    <article id="post-35" class="post-35 page type-page status-publish hentry">
        <header class="entry-header" style="display: none;">
        <h1 class="entry-title text-gradient">Descargas</h1>
    </header>
    
    <div class="entry-content">
        


<div class="stripe"><div class="top-d-1">
<h2 class="bg-gradient-simple">Descargas</h2>
</div></div>



<div class="row justify-content-center">
<div class="col-lg-10">
<figure class="figure"><img src="https://graphisoft.com/content/uploads/2020/04/iStock-846202328-1024x682.jpg" alt="" class="view-7 img-cover figure-img"/></figure>
</div>
</div>



<div class="stripe breakout"><div class="stripe-bg stripe-bg-grid jarallax top-u-2 bottom-d-2" data-jarallax="true" data-speed="0.7"></div><div class="container">
<div class="row align-items-center justify-content-center">
<div class="col-lg-10">
<p class="text-justify">Archicad es una solución de software BIM de modelado de información de construcción profesional que cumple con todos los requisitos de entrega digital, que ofrece un entorno de diseño intuitivo, y un información de construcción precisa.</p>
</div>
</div>
</div></div>


<div class="container-small">
<div class="row">
<div class="col-md-12 mb-3">
<div class="d-flex bg-light py-4 px-5 align-items-center"><i class="icon icon-archicad icon-4x"></i><p></p>
<div class="row align-items-center w-100 ml-3">
<div class="col-lg-6 flex-grow-1">
<h4>Archicad</h4>
<p></p>
</div>
<div class="col-lg-6 ml-auto"><a class="btn btn-important" href="#" data-modal-button="#download-latest-archicad" data-toggle="modal" data-target="#modal-default">Descarga la última versión de <br>Archicad</a><p></p>
</div>
</div>
</div>
</div>
<div class="col-md-6 mb-3">
<div class="d-flex bg-light py-4 px-5 align-items-center"><i class="icon icon-bimx icon-4x"></i><p></p>
<div class="ml-3">
<h4>BIMx</h4>
<p><a href="/es/downloads/bimx">Descargar<i class="fas fa-chevron-right"></i></a></p>
</div>
</div>
</div>
<div class="col-md-6 mb-3">
<div class="d-flex bg-light py-4 px-5 align-items-center"><i class="icon icon-bimcloud icon-4x"></i><p></p>
<div class="ml-3">
<h4>BIMcloud</h4>
<p><a href="/es/downloads/bimcloud">Descargar<i class="fas fa-chevron-right"></i></a></p>
</div>
</div>
</div>
</div>
</div>


<h2 class="mt-5 text-gradient text-line">Extensiones para Archicad</h2>



<section class="mb-5">
    <div class="row">
        <div class="col-lg-6 order-last order-lg-first">
            <ul class="nav nav-pills mb-5 mt-4 d-flex" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab">Extensiones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab">Contenido BIM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab">Bibliotecas</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            <div class="position-relative d-flex align-items-center mt-3">
                                     <div class="square xbg-light mr-3  d-flex justify-content-center align-items-center"> <i class="icon icon-grashopper icon-2x "></i></div>
                        <a class="stretched-link" href="/es/downloads/addons/interoperability/rhino">Herramientas para Rhino &#8211; Grashopper &#8211; Archicad</a>
                    </div>
                    <div class="position-relative d-flex align-items-center mt-3">
                        <div class="square xbg-light mr-3"> <img class="img-fluid" src="https://graphisoft.com/content/uploads/2020/06/addonicon-1.png" style="padding: .75rem" alt=""></div>
                        <a class="stretched-link" href="/es/downloads/interoperability">Conexión Archicad para Autodesk Revit</a>
                    </div>
                    <div class="position-relative d-flex align-items-center mt-3">
                        <div class="square xbg-light mr-3  d-flex justify-content-center align-items-center"> <i class="icon icon-mep_modeler icon-2x "></i></div>
                        <a class="stretched-link" href="/es/downloads/MEP">Modelador MEP</a>
                    </div>
                    <div class="position-relative d-flex align-items-center mt-3">
                        <div class="square square-gradient top-left mr-3 d-flex justify-content-center align-items-center"> <span class="text-important">+</span></div>
<div id="updates"></div>
                        <a class="stretched-link" href="/es/downloads/addons">Más Extensiones</a>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="position-relative d-flex align-items-center mt-3">
                        <div></div>
                        <a class="stretched-link" href="/downloads/archicad/bim_data">Paquetes de Clasificaciones</a>
                    </div>
                    <div class="position-relative d-flex align-items-center mt-3">
                        <div></div>
                        <a class="stretched-link" href="/downloads/archicad/cobie">Paquetes COBie</a>
                    </div>
<div class="position-relative d-flex align-items-center mt-3">
                        <div></div>
                        <a class="stretched-link" href="/es/downloads/python">Python Scripts</a>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                    <div class="position-relative d-flex align-items-center mt-3">
                        <div></div>
                        <a class="stretched-link" href="/es/downloads/parametric_objects">Sitios con Objetos para Archicad</a>
                    </div>
                    <div class="position-relative d-flex align-items-center mt-3">
                        <div></div>
                        <a class="stretched-link" href="/es/downloads/addons/lpm">Library Part Maker</a>
                    </div>

 <div class="position-relative d-flex align-items-center mt-3">
                        <div></div>
                        <a class="stretched-link" href="/es/downloads/param-o">PARAM-O</a>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6-off-right">
           <figure>
        <img src="/content/uploads/2020/06/Extensions-for-ACjpg.jpg" alt="" class="img-cover">
        <figcaption class="right text-right">Multifunctional dwelling complex on Mosfilmovskaya street, Moscow, Russia
            Sergey Skuratov Architects, www.skuratov-arch.ru | Photo © Ilya Ivanov</figcaption>
    </figure>
        </div>
    </div>
</section>


<style>
.hidden {
    display: none !important;
}
</style>


<script type="text/x-tmpl" id="tmpl-update">
<tr class="{%# o.hide ? 'hidden' : '' %}">
    <th scope="row">{%#o.name%}</th>
    <td>{%#o.localization%}</td>
    <td>{%#o.build%}</td>

    <td class="packageLink text-center">
        <a target="_blank" href="{%#o.downloadLinks['mac'].url%}"><i class="icon icon-apple"></i></a><br />
        <small>{%#o.downloadLinks['mac'].size%}</small>
    </td>
    <td class="packageLink text-center">
        <a target="_blank" href="{%#o.downloadLinks['win'].url%}"><i class="icon icon-microsoft"></i></a><br />
        <small>{%#o.downloadLinks['win'].size%}</small>
    </td>

    {% if (o.downloadLinks[2]) { %}
    <td class="packageLink">
        <small>
            <a target="_blank" href="{%#o.downloadLinks[2].url%}">How to<br />Deploy
            </a>
        </small>
        <!--<br /><span>{%#o.downloadLinks[2].size%}</span>-->
    </td>
    {% } else { %}
        <td></td>
    {% } %}

    <td class="text-center">
        <small>
            <a target="_blank" data-modal-link data-title="Release Notes" href="{%#o.releaseNotesLink%}">
                Notas de la versión
            </a>
        </small>
    </td>
    <td class="text-center">
        <small>
            <a target="_blank" data-modal-link data-title="List of Improvements" href="{%#o.improvementsLink%}">
                Listado de mejoras
            </a>
        </small>
    </td>
    <td class="text-center">{%#o.released_at%}</td>
    <td>
        {% if (o.preview) { %}
        <span class="preview" ><font color="#FE9A2E">PREVIEW version!</font></span><br />
        {% } %}
        
        {%#o.info%}
    </td>
</tr>
</script>



<section data-archicadupdates data-source="/ww/service/downloads/archicad-updates" class="my-5">
    <div class="row">
        <div class="col-md-6">
            <h2 id="updates" class="section-title">Actualizaciones para Archicad</h2>
        </div>
        
        <div class="col-md-6">
            <form class="form form-inline">
                <select name="localization" data-default="INT" class="form-control" aria-label="Localization"></select>

                <select name="type" data-dependencies="localization" data-default="AC" class="form-control ml-3" aria-label="Product type"></select>

                <select name="version" data-dependencies="type" data-default="24" class="form-control ml-3" aria-label="Versión"></select>
            </form>
        </div>
    </div>

    <table class="table table-striped table-borderless table-hover">
        <thead>
            <tr>
                <th scope="col">Versión</th>
                <th scope="col">Idioma</th>
                <th scope="col">Num.</th>
                
                <th scope="col" colspan="2">Paquetes</th>
                <th scope="col" colspan="3"></th>
                
                <th scope="col">Fecha Lanzamiento</th>
                <th scope="col">Info</th>
            </tr>
        </thead>
        <tbody data-results>
            
        </tbody>

        <tbody>
            <tr data-noresults class="hidden">
                <td colspan="10" class="text-center">No disponible todavía para esta versión de idioma.</td>
            </tr>
        </tbody>
    </table>

    <div data-showmore class="text-center">
        <a href="#">Más actualizaciones</a>
    </div>
</section>





<div class="stripe breakout">
    <div class="stripe-bg jarallax" data-jarallax="" data-speed="0.7"></div>
    <div class="container-small py-5">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-3 text-center">
                <i class="icon icon-download_fol icon-10x"></i>
            </div>
            <div class="col-lg-7">
                <h2>Licencias</h2>
                <p class="lead">Descargas para la <b>Gestión de Licencias de GRAPHISOFT</b> y <b>Controladores para la Llave de Protección</b></p>
                <a class="btn btn-primary" href="https://graphisoft.com/es/downloads/protection_key">Llave de Protección</a>
                <a class="btn btn-outline-primary" href="/downloads/licensing/help/SPA/pc">License Manager Tool</a>
            </div>
        </div>
    </div>
</div>



<div class="wp-block-group d-none" id="download-latest-archicad" data-modal-title="Descarga el último Archicad"><div class="wp-block-group__inner-container"><section class="mb-5">
    <div class="text-center mb-3">
        
        <img style="width: 10rem;" src="https://graphisoft.com/content/themes/building-together/dist/images/logos/logo-graphisoft-archicad.svg"/>
    </div>

    <table class="table table-striped table-borderless">
        <tbody data-results>
                        <tr>
                <td>
                    Archicad 24 INT
                </td>
                                <td class="text-center">
                    <a href="/dl/AC/24/INT/ARCHICAD-24-INT-3008-1.7.dmg">
                        <i class="icon icon-dmg icon-2x"></i><br/>
                        <span>1.89 GB</span>
                    </a>
                </td>
                                <td class="text-center">
                    <a href="/dl/AC/24/INT/ARCHICAD-24-INT-3008-1.7.exe">
                        <i class="icon icon-exe icon-2x"></i><br/>
                        <span>1.95 GB</span>
                    </a>
                </td>
                            </tr>
                        <tr>
                <td>
                    Archicad 24 SPA
                </td>
                                <td class="text-center">
                    <a href="/dl/AC/24/SPA/ARCHICAD-24-SPA-3008-1.0.dmg">
                        <i class="icon icon-dmg icon-2x"></i><br/>
                        <span>1.93 GB</span>
                    </a>
                </td>
                                <td class="text-center">
                    <a href="/dl/AC/24/SPA/ARCHICAD-24-SPA-3008-1.0.exe">
                        <i class="icon icon-exe icon-2x"></i><br/>
                        <span>1.99 GB</span>
                    </a>
                </td>
                            </tr>
                    </tbody>
    </table>
</section>


</div></div>


        
    </div>

    </article>
    </main>


<footer class="layout-footer">
        <div class="container">
            <ul id="menu-footer" class="row mx-auto justify-content-start menu-footer"><li class="nav-item col-6 col-md-4 col-xl"><div><span class="nav-link">Porqué GRAPHISOFT</span>
<ul class="sub-menu">
	<li class="nav-item"><a href="https://graphisoft.com/es/why-graphisoft/our-story" class="nav-link">Nuestra Historia</a></li>
	<li class="nav-item"><a href="https://graphisoft.com/es/why-graphisoft/our-users" class="nav-link">Nuestros Usuarios</a></li>
	<li class="nav-item"><a href="https://graphisoft.com/es/why-graphisoft/building-together" class="nav-link">Construir Juntos</a></li>
	<li class="nav-item"><a href="/es/case-studies" class="nav-link">Hecho con Archicad</a></li>
	<li class="nav-item"><a href="https://graphisoft.com/es/why-graphisoft/our-partners" class="nav-link">Nuestros Asociados</a></li>
	<li class="nav-item"><a href="https://graphisoft.com/es/why-graphisoft/latest-news" class="nav-link">Últimas Noticias</a></li>
</ul>
</div></li>
<li class="nav-item col-6 col-md-4 col-xl"><div><span class="nav-link">Soluciones</span>
<ul class="sub-menu">
	<li class="nav-item"><a href="https://graphisoft.com/es/solutions/what-you-do" class="nav-link">Tu Profesión</a></li>
	<li class="nav-item"><a href="https://graphisoft.com/es/solutions/products" class="nav-link">Nuestros Productos</a></li>
	<li class="nav-item"><a href="https://graphisoft.com/es/solutions/workflows" class="nav-link">Trabajar Juntos</a></li>
	<li class="nav-item"><a href="https://graphisoft.com/es/solutions/services" class="nav-link">Servicios</a></li>
</ul>
</div></li>
<li class="nav-item active col-6 col-md-4 col-xl"><div><span class="nav-link">Soporte</span>
<ul class="sub-menu">
	<li class="nav-item"><a href="https://graphisoft.com/es/resources-and-support/getting-started" class="nav-link">Empieza Aquí</a></li>
	<li class="nav-item"><a href="https://graphisoft.com/es/resources-and-support/help" class="nav-link">Ayuda</a></li>
	<li class="nav-item active"><a href="https://graphisoft.com/es/resources-and-support/downloads" aria-current="page" class="nav-link">Descargas</a></li>
	<li class="nav-item"><a href="https://graphisoft.com/es/resources-and-support/learning" class="nav-link">Aprender</a></li>
	<li class="nav-item"><a href="https://graphisoft.com/es/resources-and-support/learning/education" class="nav-link">Educación</a></li>
	<li class="nav-item"><a href="https://graphisoft.com/es/resources-and-support/community" class="nav-link">Comunidad</a></li>
	<li class="nav-item"><a href="https://graphisoft.com/es/resources-and-support/system-requirements" class="nav-link">Requerimientos de Sistema</a></li>
</ul>
</div></li>
<li class="nav-item col-6 col-md-4 col-xl"><div><span class="nav-link">Conectar</span>
<ul class="sub-menu">
	<li class="nav-item"><a href="https://graphisoft.com/es/contact-us/get-in-touch" class="nav-link">Formulario de Contacto</a></li>
	<li class="nav-item"><a href="/es/events" class="nav-link">Eventos</a></li>
	<li class="nav-item"><a href="https://graphisoft.com/es/job-board" class="nav-link">Bolsa de Trabajo</a></li>
	<li class="nav-item"><a href="https://graphisoft.com/es/contact-us/careers" class="nav-link">Empleos en GRAPHISOFT</a></li>
	<li class="nav-item"><a href="/es/legal" class="nav-link">Legal</a></li>
</ul>
</div></li>
<li class="nav-item col-6 col-md-4 col-xl"><div><span class="nav-link">Comprar Archicad</span>
<ul class="sub-menu">
	<li class="nav-item"><a href="https://graphisoft.com/es/how-to-buy/switch-now" class="nav-link">Porqué Cambiar</a></li>
	<li class="nav-item"><a href="https://graphisoft.com/es/how-to-buy" class="nav-link">Cómo Comprar</a></li>
	<li class="nav-item"><a href="https://graphisoft.com/es/contact-us/local-contacts" class="nav-link">Dónde Comprar</a></li>
</ul>
</div></li>
</ul>
        </div>
    


        <div class="bg-light copyright">
        <div class="container mx-auto align-items-center">
            <div class="row">
                <div class="col-md text-center text-md-left my-2">
                    Copyright &copy; 2021 GRAPHISOFT. Todos los derechos reservados
                </div>

                
                <div class="col-md text-center text-md-right my-2">
                    GRAPHISOFT es parte del <a target="_blank" rel="noopener noreferrer" href="https://www.nemetschek.com/en/" aria-label="Nemetschek Group - external link">Grupo Nemetschek</a>
                </div>
            </div>
        </div>
    </div>
    </footer>



<nav id="contact-bar">
            <ul id="menu-social-footer" class="list-social"><li class="menu-item menu-item-type-custom menu-item-object-custom text-center"><a target="_blank" href="https://www.youtube.com/channel/UCEcaxr5jf813CpesMdX4zFA/" class="nav-link fab fa-youtube"><span class="sr-only sr-only-focusable">YouTube</span></a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom text-center"><a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/Graphisoft.Latinoamerica/" class="nav-link fab fa-facebook"><span class="sr-only sr-only-focusable">Facebook</span></a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom text-center"><a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/graphisoft_latam/" class="nav-link fab fa-instagram"><span class="sr-only sr-only-focusable">Instagram</span></a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom text-center"><a target="_blank" rel="noopener noreferrer" href="https://twitter.com/GraphisoftLatam/" class="nav-link fab fa-twitter"><span class="sr-only sr-only-focusable">Twitter</span></a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom text-center"><a target="_blank" rel="noopener noreferrer" href="https://mx.linkedin.com/company/graphisoftlatinoam%C3%A9rica" class="nav-link fab fa-linkedin"><span class="sr-only sr-only-focusable">LinkedIn</span></a></li>
</ul>
    
    </nav>




<div id="modal-default" data-modal="default" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-default-title" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-default-title">Título Modal</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                Cuerpo Modal
            </div>

            <div class="modal-footer">
               <!--  <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>



<script type='text/javascript' src='https://graphisoft.com/content/themes/building-together/dist/js/popper.min.js?ver=1.14.7'></script>
<script type='text/javascript' src='https://graphisoft.com/content/themes/building-together/dist/js/bootstrap.min.js?ver=4.3.1'></script>
<script type='text/javascript' src='https://graphisoft.com/content/themes/building-together/dist/js/jarallax/jarallax.min.js?ver=1.10.3'></script>
<script type='text/javascript' src='https://graphisoft.com/content/themes/building-together/dist/js/jarallax/jarallax-video.min.js?ver=1.0.1'></script>
<script type='text/javascript' src='https://graphisoft.com/content/themes/building-together/dist/js/jarallax/jarallax-element.min.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://graphisoftid.graphisoft.com/Scripts/lib/gsidsso.js?ver=1.0.0'></script>
<script type='text/javascript' data-url-ssoauth="https://graphisoftid.graphisoft.com/Account/SsoAuth" data-url-assert="/auth/assert" src='https://graphisoft.com/content/themes/building-together/dist/js/gsidsso.client.min.js?ver=1615491256'></script>
<script type='text/javascript' src='https://graphisoft.com/content/themes/building-together/dist/js/theme.min.js?ver=1615491256'></script>
<script type='text/javascript' src='https://graphisoft.com/content/themes/building-together/dist/js/acupdates.min.js?ver=1.0.1'></script>
<script type='text/javascript' src='https://graphisoft.com/es/wp-includes/js/wp-embed.min.js?ver=5.4'></script>



</body>
</html>